<div class="jumbotron text-center">
    <h1>Fishing BooYah</h1>
    <p>We love to fish, tie flies, and find hidden waters. Plus our flies kick a</p>
</div>

<!--
<div class=center-disp>
    <div class=dispbox-organizer1>
        <div class=disp-top2-left></div>
        <div class=disp-top2-left></div>
        <div class=disp-top3></div>
    </div>
    <div class=dispbox-organizer2>
        <div class=disp-left></div>
    </div>
    <div class=dispbox-organizer3>
        <div class=disp-bot1></div>
        <div class=disp-bot2></div>
        <div class=disp-bot3></div>
    </div>
</div>
-->

<div class="grid">
    <div class="grid-item"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item"></div>
</div>