<button ui-sref=".disp" class="btn-local">DISPLAY</button>           

<div class=r_disp>

                <div class=cont>
                <p class=one>MILES ROUND TRIP:<p>
                <p class=table>30 miles</p>
                </div>

                <div class=cont>
                <p class=one>TROUT TYPES:</p>
                <p class=table>Brook Trout, Golden Trout</p>
                </div>

                <div class=cont>
                <p class=one>ESTIMATED LAKES WITH TROUT TYPES:</p>
                <p class=table>Golden Trout 5:(Name, Name, Name)</p>
                </div>

                <div class=cont>
                <p class=one>SUGGESTED FLIES:</p>
                <p class=table>Golden Trout: Brook Trout: (pretty much any old thing)</p>
                </div>

                <h3>Hunting for Golden Trout in the Fitzpatrick Wilderness</h3>
                <p class='bodyp'>The Fitzpatrick Wildernes resides in the Northern one-third of the Wyoming mountain Wind-Rivers eastern mountain range. This part of the Wind Rivers is within the Shoshone National Forest. The roadless area of the Wind River Indian Reservation is in the center. </p>  

            </div>